// Abstract
@import 'abstract/variables';
@import 'abstract/colors';
@import 'abstract/mixins';
@import 'abstract/fonts';

// Components
@import 'components/buttons';

// Includes
@import 'includes/navbar';
@import 'includes/footer';

// Sections
@import 'sections/hero';
@import 'sections/about';
@import 'sections/experience';
@import 'sections/projects';
@import 'sections/expertise';
@import 'sections/project-page';
@import 'sections/achievements';
@import 'sections/contact';
@import 'sections/not-found';

// Bases
html {
  scroll-behavior: smooth;
  height: 100dvh;
  min-height: 100dvh;
}

body {
    background-color: var(--background) !important;
    // padding-bottom: env(safe-area-inset-bottom);
    color: var(--text);
    font-family: 'Sora-Regular', sans-serif;
    margin: 0;
    padding: 0;
}

.root {
    background-color: var(--background) !important;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--accent);
    text-decoration: none;
}

input, 
textarea,
select,
button {
    font-family: inherit;
}

i {
    //@include flex(row, center, center);
}

.about,
.expertise,
.experience,
.projects,
.achievements,
.contact,
.footer {
    position: relative;
    z-index: 2;
}

.reveal {
    opacity: 0;
    transform: scale(0.85);
    transition: 2s cubic-bezier(0.16, 1, 0.3, 1) !important;
    transition-delay: var(--delay, 0ms);
}

.reveal.is-visible {
    opacity: 1 !important;
    transform: scale(1) !important;
}

a {
    cursor: pointer;
}