// Abstract
@import 'abstract/variables';
@import 'abstract/colors';
@import 'abstract/mixins';
@import 'abstract/fonts';

// Components
@import 'components/buttons';

// Includes
@import 'includes/navbar';

// Layouts

// Bases
html {
  scroll-behavior: smooth;
  height: 100dvh;
  min-height: 100dvh;
}

body {
    background-color: var(--background-dark-5);
    // padding-bottom: env(safe-area-inset-bottom);
    color: var(--text);
    font-family: 'Sora-Regular', sans-serif;
    margin: 0;
    padding: 0;
    @include flex(column, flex-start, center);
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--accent);
    text-decoration: none;
}

input, 
textarea,
select,
button {
    font-family: inherit;
}

i {
    @include flex(row, center, center);
}
