// Abstract
@import 'abstract/variables';
@import 'abstract/colors';
@import 'abstract/mixins';
@import 'abstract/fonts';

// Components

// Includes
@import 'includes/navbar';
@import 'includes/footer';

// Pages
@import 'pages/home';
@import 'pages/about';

// Bases
html {
  scroll-behavior: smooth;
  height: 100dvh;
  min-height: 100dvh;
}

body {
    background-color: var(--background) !important;
    color: var(--text);
    font-family: 'Outfit-Regular', sans-serif;
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--accent);
    text-decoration: none;
    cursor: pointer;
}

input, 
textarea,
select,
button {
    font-family: inherit;
}

i.bi {
    @include flex(row, center, center);
}

:root {
    --font-family-1: 'Outfit-Regular', sans-serif;
    --font-family-2: 'Sora-Regular', sans-serif;
    --font-family-3: 'DM Mono', monospace;
}

.home,
.about,
.experience,
.expertise,
.projects,
.achievements,
.contact {
    height: 100dvh;
}