.home {
    position: relative;
    z-index: 1;
    background-color: transparent;
    height: 100vh;
    pointer-events: none;
}

.hero {
    @include fixed(0, 0, 0, 0);
    @include flex(row, center, center);
    background-color: var(--background-dark-5);

    .hero-content {
        width: 100%;
        position: relative;
        margin: 0 calc(var(--margin-xxl) + var(--margin-xl) + var(--margin-md));
        //margin-top: 100px;
        @include flex(row, space-between, center);
        width: 100%;

        .text-area {
            @include flex(column, center, flex-start);

            h1 {
                font-size: calc(var(--font-size-xxl) * 1.4);
                margin-bottom: 0;
            }

            p {
                margin: 0 0 var(--margin-lg) 0;
                color: #666666;
                position: relative;
                height: 20px;
                display: flex;
                gap: 2px;

                .cursor {
                    animation: blink 0.75s linear infinite;
                    color: white;
                    height: 100%;
                    width: 2px;
                    background-color: #CCCCCC;
                }
            }

            .location-tag {
                background-color: color-mix(in srgb, var(--primary) 25%, transparent);
                border: 1px solid color-mix(in srgb, var(--primary-light-5) 75%, transparent);
                padding: var(--padding-sm) var(--padding-xs);
                width: 200px;
                @include flex(row, center, center, var(--gap-sm));
                border-radius: var(--border-radius-xxl);

                i {
                    color: var(--primary);
                }
            }

            .button-container {
                @include flex(row, center, center, var(--gap-md));

                .hero-btn {
                    background-color: var(--primary);
                    border: var(--border-size-md) solid var(--primary);
                    height: 2.5rem;
                    width: 15rem;
                    @include flex(row, center, center);
                    border-radius: 2rem;
                    color: white;
                    transition: all var(--transition-normal);
                    cursor: pointer;

                    &:last-child {
                        background-color: transparent;

                        &:hover {
                            background-color: var(--primary);
                        }
                    }

                    &:hover {
                        background-color: transparent;
                        scale: 1.1;
                    }
                }

                @include respond-to('xl') {
                    flex-direction: column;
                }

                @include respond-to('sm') {
                    width: 100%;

                    .hero-btn {
                        width: 100%;
                    }
                }
            }
        }

        .image-area {
            @include size(30vw, 30vw);
            @include flex(column, center, center);
            position: relative;

            .rotating-frame {
                width: 100%;
                height: 100%;
                opacity: 0.5;
                border: var(--border-size-md) solid var(--secondary);
                border-radius: var(--border-radius-xxl);
                animation: rotate 20s linear infinite;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: -1;
            }

            .image-frame {
                width: 100%;
                height: 100%;
                overflow: hidden;
                border: var(--border-size-md) solid var(--primary);
                border-radius: var(--border-radius-xxl);
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all var(--transition-fast);
                }


            }

            @include respond-to('lg') {
                @include size(35vh);
                max-width: 85vw;
                aspect-ratio: 1 / 1;
            }
        }

        @include respond-to('xxl') {
            margin: var(--margin-md) calc(var(--margin-xxl) + var(--margin-md));
        }

        @include respond-to('xl') {
            @include flex(column, center, center, calc(var(--gap-lg) + var(--margin-md)));
            margin: 0 var(--margin-md);

            .text-area {
                width: 85%;
                align-items: center;

                h1 {
                    font-size: var(--font-size-xxl);
                }

                .location-tag {
                    margin-top: var(--margin-xl);
                }
            }
        }
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    } 50% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

