@font-face {
    font-family: 'Sora-Bold';
    src: url('../fonts/sora/Sora-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sora-ExtraBold';
    src: url('../fonts/sora/Sora-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sora-ExtraLight';
    src: url('../fonts/sora/Sora-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Sora-Light';
    src: url('../fonts/sora/Sora-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Sora-Medium';
    src: url('../fonts/sora/Sora-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Sora-Regular';
    src: url('../fonts/sora/Sora-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sora-SemiBold';
    src: url('../fonts/sora/Sora-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Sora-Thin';
    src: url('../fonts/sora/Sora-Thin.ttf') format('truetype');
}