@mixin flex($direction: row, $justify: center, $align: center, $gap: 0, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin size($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
    position: absolute;
    @if $top != null {
        top: $top;
    }
    @if $right != null {
        right: $right;
    }
    @if $bottom != null {
        bottom: $bottom;
    }
    @if $left != null {
        left: $left;
    }
}

@mixin center-absolute($x-axis: true, $y-axis: true) {
    position: absolute;
    @if $x-axis and $y-axis {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @if $x-axis {
        left: 50%;
        transform: translateX(-50%);
    }
    @if $y-axis {
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin fixed($top: null, $right: null, $bottom: null, $left: null) {
    position: fixed;
    @if $top != null {
        top: $top;
    }
    @if $right != null {
        right: $right;
    }
    @if $bottom != null {
        bottom: $bottom;
    }
    @if $left != null {
        left: $left;
    }
}

@mixin center-fixed($x-axis: true, $y-axis: true) {
    position: fixed;
    @if $x-axis and $y-axis {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @if $x-axis {
        left: 50%;
        transform: translateX(-50%);
    }
    @if $y-axis {
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin respond-to($name) {
    @if map-has-key($breakpoints, $name) {
        @media (max-width: map-get($breakpoints, $name)) {
            @content;
        }
    } 
}