.navbar {
    @include center-fixed(true, false);
    background-color: color-mix(in srgb, var(--background-light-5) 80%, transparent);
    margin: var(--margin-md) 0;
    border-radius: var(--border-radius-xl);
    border: var(--border-size-md) solid var(--background-light-5);
    z-index: 10;
    backdrop-filter: blur(2px);

    .nav-indicator {
        @include absolute(0, null, null, 0);
        @include size(3rem, 3rem);
        background-color: var(--primary);
        border-radius: calc(var(--border-radius-xl) - var(--border-size-md));
        z-index: 1;
    }

    .nav-items {
        @include flex(row, center, center);

        .nav-item {
            @include size(3rem, 3rem);
            @include flex(row, center, center);
            font-size: var(--font-size-lg);
            z-index: 2;
            position: relative;

            a {
                @include size(100%, 100%);
                @include flex(row, center, center);
                color: white;
            }

            span {
                @include absolute(null, null, 0, 50%);
                transform: translate(-50%, 0);
                pointer-events: none;
                font-size: var(--font-size-sm);
                background-color: color-mix(in srgb, var(--background-light-5) 80%, transparent);
                border: var(--border-size-md) solid var(--background-light-5);
                border-radius: var(--border-radius-xl);
                padding: var(--padding-xs) var(--padding-sm);
                opacity: 0;
                transition: all var(--transition-slow);
            }

            &:has(a:hover) {
                span {
                    opacity: 1;
                    transform: translate(-50%, 2.25rem);
                }
            }
        }
    }

    @include respond-to('md') {
        .nav-item span {
            display: none;
        }
    }
}